# Desafio 3 - SQL

In [9]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('Loja.sqlite')
cursor = conn.cursor()

## Consulta 1

Escreva uma consulta SQL que mostre a lista de todos os clientes e seus respectivos pedidos, mesmo 
que o cliente não tenha feito nenhum pedido. A tabela resultante deve conter as colunas: Nome, 
PedidoID, DataPedido e ValorTotal.

In [ ]:
consulta1 = """
SELECT c.nome, p.PedidoID, p.DataPedido, p.ValorTotal
FROM Clientes AS c
LEFT JOIN Pedidos AS p 
ON c.ClienteID = p.ClienteID
"""
res_consulta1 = cursor.execute(consulta1).fetchall()

df_consulta1 = pd.DataFrame(res_consulta1, columns=['Nome Cliente', 'PedidoID', 'Data Pedido', 'Valor Total'])

df_consulta1

   Nome Cliente  PedidoID Data Pedido  Valor Total
0     Ana Silva     101.0  2025-01-10        250.0
1  João Pereira     102.0  2025-01-12        100.0
2  João Pereira     103.0  2025-01-15        150.0
3   Maria Souza       NaN        None          NaN

## Consulta 2

Escreva uma consulta SQL que exiba o total de pedidos realizados e o valor total de pedidos por cliente, apenas para os clientes que possuem pedidos registrados. A tabela resultante deve conter as colunas: Nome, QuantidadePedidos e ValorTotalPedidos.

In [17]:
consulta2 = """
SELECT c.Nome, COUNT(p.PedidoID) AS QuantidadePedidos, SUM(p.ValorTotal) AS ValorTotal
FROM Clientes AS c
INNER JOIN Pedidos AS p 
ON c.ClienteID = p.ClienteID
GROUP BY c.ClienteID
"""

res_consulta2 = cursor.execute(consulta2).fetchall()

df_consulta2 = pd.DataFrame(res_consulta2, columns=['Nome Cliente', 'QuantidadePedidos', 'Valor Total'])
df_consulta2

   Nome Cliente  QuantidadePedidos  Valor Total
0     Ana Silva                  1        250.0
1  João Pereira                  2        250.0

## Consulta 3

Escreva uma consulta SQL que exiba os pedidos que não possuem pagamentos registrados. A tabela resultante deve conter as colunas: PedidoID, DataPedido e ValorTotal.

In [18]:
consulta3 = """
SELECT p.PedidoID, p.DataPedido, p.ValorTotal
FROM Pedidos AS p
WHERE p.PedidoID NOT IN (
    SELECT PedidoID FROM Pagamentos
)
""" 

res_consulta3 = cursor.execute(consulta3).fetchall()

df_consulta3 = pd.DataFrame(res_consulta3, columns=['PedidoID', 'Data Pedido', 'Valor Total'])
df_consulta3

   PedidoID Data Pedido  Valor Total
0       102  2025-01-12        100.0
1       104  2025-01-17        200.0